.edu__item {
  padding: 0 0.5rem 1.5rem 0.5rem;
  color: #fff;
}

.edu__image {
  width: 250px;
  height: 375px;
  position: relative;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgb(72, 72, 72);
  background: linear-gradient(0deg, rgba(72, 72, 72, 1) 0%, rgba(0, 0, 0, 0) 50%);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
}

.edu__image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.edu__info {
  position: absolute;
  padding: 0 0.5rem 1.5rem 0.5rem;
  bottom: 0;
  left: 0;
}

.edu__info p {
  font-weight: 600;
  font-size: 0.875rem;
}

.edu__info h5 {
  font-weight: 400;
  font-size: 1.125rem;
}
