@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', 'Raleway', 'Inter', sans-serif;
  background-color: #f8f8f8;
}
